{% extends 'RofilRepoContentBundle:Theme:one-column.html.twig' %}
{% block title %}
    Repository | {{ entity.title }}
{% endblock %}

{% block content -%}
	
	<div class="row">
		<div class="col-md-9">
			<h3>{{ entity.title }}</h3>
			{% include 'soc-med.html.twig' only %}
			<hr>
			<div class="panel panel-default">
				<table class="table table-striped table-bordered">
					<tr>
						<th>Judul</th>
						<td>{{ entity.title }}</td>
					</tr>
					<tr>
						<th>File</th>
						<td><a href="{{ entity.file }}">Download</a></td>
					</tr>
					<tr>
						<th>Tanggal</th>
						<td>{{ entity.createdAt|date("d/m/Y H:i:s") }}</td>
					</tr>
					<tr>
						<th>Keterangan</th>
						<td>{{ entity.body|raw }}</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="col-md-3">
			{% render(controller("RofilRepoContentBundle:Default:randomProject")) %}
		</div>
	</div>
	
{% endblock %}